<legend>
	<h2>Edit Contact</h2>
</legend>
<ul style='list-style-type: none;'>
	<li><img src='/img/contact_icons/youtube-48-black.png'><a href="#">www.youtube.com/brian...</a></li>
	<li><img src="/img/contact_icons/linkedin-48-black.png"><a href="#">www.linkedin.com/brian...</a></li>
	<li><img src="/img/contact_icons/email-48-black.png"><a href="#">bflanagan87@gmail.com</a></li>
</ul>
<legend>
	<h2>Add Contact</h2>

<% @icons.each do |icon| %>
	<button class='btn'><img class='pull-left' src="/img/contact_icons/<%=icon%>"><br>
	<%= icon[/(^\w+)(\-)/,1] %>
	</button>
<% end %>