<legend>
<h2>New Contact</h2>
</legend>
<form method='post' action='/admin/contacts/<%=@type%>/new' >
<img src="/img/contact_icons/<%=@type%>"><input type='text' name='contact' style='margin-bottom: 0;' styplaceholder='brianflanagan@somewhere.com'>
<br><br>
<input type="submit" value="Save" class="btn btn-primary">
<a href='/admin/contacts' class="btn">Cancel</a>
</form>