<legend>
	<h2>Contact</h2>
</legend>
<ul style='list-style-type: none;'>
	<li><img src='/img/youtube-48-black.png'><a href="#">www.youtube.com/brian...</a></li>
	<li><img src="/img/linkedin-48-black.png"><a href="#">www.linkedin.com/brian...</a></li>
	<li><img src="/img/email-48-black.png"><a href="#">bflanagan87@gmail.com</a></li>
</ul>