<legend>
	<h2>Edit Contacts</h2>
</legend>
<ul style='list-style-type: none;'>
	{{#contacts}}
	<li>
		<form style="display: inline;" action="contacts/{{id}}" method="post">
			<input type="hidden" name="_method" value="delete" />
			<input type="submit" value="&times;" class="btn btn-danger" data-toggle="tooltip" data-placement="left" title="Delete">
		</form>
		<!-- <a class="btn btn-danger" data-toggle="tooltip" data-placement="left" title="Delete">&times;</a> -->
		<img src='/img/contact_icons/{{icon}}' >
		<a href='#'>{{contact_info}}</a>
	</li>
	{{/contacts}}
</ul>
<legend>
	<h2>Add Contacts</h2>
</legend>
{{#icons}}
<button class='btn'>
	<a href="contacts/{{i_name}}/new">
	<img class='pull-left' src="/img/contact_icons/{{i_file}}"><br>
	{{i_name}}
	</a>
</button>
{{/icons}}
<script>
	$(document).on('mouseenter mouseleave', ".btn-danger", function () {
		$(this).tooltip('toggle');
	})
// $(document).on('mouseleave', ".btn-danger", function () {
//   $(this).tooltip('hide');
// })
</script>